@model Userr
@{
    ViewData["Title"] = "Registration";
}

<h1>Регистрация</h1>
<form method="post" asp-controller="Registration" asp-action="Register">
    <div class="md-3">
        <label class="form-label">Введите логин</label>
        <div class="col-md-3">
            <input asp-for="login" class="form-control">
        </div>
        <span asp-validation-for="login" class="text-danger"></span>       
        <span class="text-danger">@ViewBag.Message2</span>       
    </div>
    <div class="mb-3">
        <label  class="form-label">Придумайте пароль</label>
        <div class="col-md-3">
            <input asp-for="password" type="password" class="form-control">
        </div>
        <span asp-validation-for="password" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
</form>